{% extends "user/base.html" %}
<!--title-->
{% block title %}Home{% endblock %}
<!--body-->
{% block body%}

<div class="page">
  <h1>Return Bike</h1>
  <div class="archive">
    <article class="article">
      {% if flag %}
      <div class="Inn">
        <h3>
          Your bike is
          <strong
            >{{current_bike.bike_brand}} {{current_bike.bike_model}}</strong
          >
          of <strong>{{current_bike.bike_color}}</strong> color.<br /><br />
          Your bike Model number is
          <strong>{{current_bike.bike_number}}</strong> and Type
          <strong>{{current_bike.bike_type}}</strong>.<br />

          The Station is <strong>{{current_bike.bike_station}}</strong><br />
        </h3>
        <br />
        <hr />
        <br />
        <h4>So you want to return bike, Okay great.</h4>
        <h4>
          Verify and enter credientials only from the employee at our
          Station.<br />
          He/she will enter the key below for returning bike.
        </h4>
      </div>
      <br />
      <hr />
      <br />

      <form action="" method="POST">
        {% csrf_token %}
        <h2>This form should only filled by our employees.</h2>
        <input
          type="text"
          name="emp_superkey"
          placeholder="Enter Valid Superkey"
          required
        /><br />
        <button type="submit">Take Bike</button>
      </form>
      {% if error_flag %} Error : {{error}} {% endif %} {% else %}
      <div class="cont">
        <h1>You haven't taken any bike yet.</h1>
      </div>
      {% endif %}
    </article>
  </div>
</div>
<style>
  hr {
    /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
  }

  hr:last-child {
    /*dummy content*/
    margin-right: 60%;
  }

  hr.image {
    /*dummy content*/
    padding-bottom: 50%;
  }

  .page {
    padding: 2em;
    max-width: auto;
  }
  .Inn {
    font-size: 13px;
    color: black;
  }

  .archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-gap: 3em;
  }

  .article {
    padding: 1em;
    background: #d1cfcd;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  form {
    max-width: 300px;
    margin: 10px auto;
    margin-top: 30px;
    padding: 10px 20px;
    background: #49a1be;
    border-radius: 8px;
  }

  body {
    margin: 0;
    padding: 0;
    background: url(../../static/three.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    text-align: center;
    color: #e2e2e2;
  }
  h4 {
    font-size: 25px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    font-size: 22px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    text-align: center;
  }
  h3 {
    font-size: 22px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    text-align: center;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 5px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    align: center;
    padding: 14px 39px 14px 39px;
    color: #fff;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-left: 25%;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .bikes {
    margin-top: 0px;
    text-align: center;
  }
  .cont {
    margin-top: 170px;
    margin-bottom: 170px;
  }

  .number {
    background-color: #5d5fcf;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }

  @media screen and (min-width: 480px) {
    form {
      max-width: 700px;
    }
  }
</style>
{% endblock %}
