{% extends "user/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}


<style>
    #sel_bike {
        display: none;
    }
</style>

<h1>Take Bike</h1>
<form method="GET">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<h3>available bikes</h3>

<ul>
    {% for k1, k2 in fin_ans %}
    <li>{{k1.hourly_rent}}- {{k1.daily_rent}}- {{k1.weekly_rent}} - {{k2.bike_color}} -
        {{k2.bike_type}} - {{k2.bike_model}} - {{k2.bike_brand}}- {{k2.bike_station}} - {{k2.bike_number}}
        <form class="border border-light" action="/payment/" method="GET">

            <input type="number" placeholder="" name="bike_rent_number" value="1" required>

            <select name="rent_select" id="" required>
                <option value="Hour">Hour</option>
                <option value="Day">Day</option>
                <option value="Week">Week</option>
            </select>

            <input type="text" value="{{k2.bike_number}}" name="selected_bike" id="sel_bike">

            <button type="submit">Take and Go for Payment</button>
        </form>
    </li>
    <!-- <a href="{% url 'payment' %}">Go For Payment</a> -->
    {% endfor %}
</ul>

<div class="center">

</div>
{% endblock %}