{% extends "user/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}



<h1>Take Bike</h1>
<form method="GET">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<h3>available bikes</h3>

<!-- for (k1, k2) in fin_ans:
print(k1.hourly_rent)
print(k2.bike_number) -->
<!-- 
{% for (k1,k2) in fin_ans %}
<p>{{k1.hourly_rent}} - {{k2.bike_number}}</p>
{% endfor %} -->

<ul>
    {% for bike in filter.qs %}
    <li>{{bike.bike_number}} - {{bike.bike_color}}
        <form class="border border-light" action="" method="POST">
            {% csrf_token %}

            <input type="number" placeholder="" name="bike_rent_number" value="1" required>

            <select name="rent_select" id="" required>
                <option value="Hour">Hour</option>
                <option value="Day">Day</option>
                <option value="Week">Week</option>
            </select>

            <input type="hidden" value="{{bike.bike_number}}" name="selected_bike">
            <!-- RAZORPAY INTEGRATION HERE -->
            <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_pQD1ejHNOtqS0Y"
                data-amount="50000" data-currency="INR" data-order_id="{{payment.id}}"
                data-buttontext="Select and Go For Payment" data-name="App BRS"
                data-description="Testing! Testing! Testing!"
                data-image="https://i.pinimg.com/originals/e0/e9/b1/e0e9b132034a2977f88b322635acf523.png"
                data-prefill.name="Online Brs" data-prefill.email="pay@online.brs" data-theme.color="#6600ff"></script>
        </form>
    </li>
    {% endfor %}
</ul>

<div class="center">

</div>
{% endblock %}