{% extends 'user/base.html' %}

<!--title-->
{% block title %}Admin Profile{% endblock title %}

<!--body-->
{% block body %}

<style>
  .navbar {
    background: #0d0d0d;
  }

  .album {
    background: #f5f5f5;
  }

  .navbar-brand {
    font-size: 35px;
  }

  .cl {
    border-radius: 15px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 380px;
    text-align: center;
    padding: 60px;
    margin: 40px;
    background: #539079;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .title {
    font-size: 18px;
  }

  .inst {
    font-size: 19px;
  }

  .image {
    width: 100%;
    padding: 20px;
  }

  button {
    border: none;
    border-radius: 6px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #323232;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  h1 {
    font-size: 30px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa {
    padding: 8px;
  }

  .fa-facebook {
    border: solid #3b5998;
    border-radius: 4px;
    background: #3b5998;
    color: white;
  }

  .fa-instagram {
    border: solid #ff0000;
    border-radius: 5px;
    background: #ff0000;
    color: white;
  }

  .fa-linkedin {
    border: solid #007bb5;
    border-radius: 4px;
    background: #007bb5;
    color: white;
  }

  .fa-twitter {
    border: solid #55acee;
    border-radius: 4px;
    background: #55acee;
    color: white;
  }

  .fa-github {
    border: solid #00e500;
    border-radius: 4px;
    background: #00e500;
    color: white;
  }
</style>

{% comment %} -------admin-------- {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="row">
  <div class="column">
    <div class="card" style="width: 400px;">
      <img class="image" src="../../static/tapan.png" alt="tapan" style="width: 100%" />
      <h1>Tapan Savani</h1>
      <p class="title">B-Tech IT</p>
      <p class="inst">IIIT Vadodara</p>
      <p>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-github"></i> </a>
      </p>
      <p><button>Contact</button></p>
    </div>
  </div>
  <div clas="column"></div>
  <div clas="column">
    <div class="card" style="width: 400px;">
      <img class="image" src="../../static/mohit.png" alt="mohit" />
      <h1>Mohit Panchasara</h1>
      <p class="title">B-Tech IT</p>
      <p class="inst">IIIT Vadodara</p>
      <p>
          <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-github"></i> </a>
      </p>
      <p><button>Contact</button></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card" style="width: 400px;">
      <img class="image" src="../../static/shubham.jpeg" alt="Shubham Vora" style="width: 100%" />
      <h1>Shubham Vora</h1>
      <p class="title">B-Tech IT</p>
      <p class="inst">IIIT Vadodara</p>
      <p>
       <a href="https://instagram.com/shubhamvora05"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/Mr_confidental"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/shubham-vora-258a7b186/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/shubhamvora05"><i class="fa fa-github"></i> </a>
     
      </p>
      <p><button>Contact</button></p>
    </div>
  </div>
  <!-- <div clas="column"></div> -->
  <div clas="column">
    <div class="card" style="width: 400px;">
      <img class="image" src="../../static/user2.jpeg" alt="mohit" />
      <h1>Yash Makawana</h1>
      <p class="title">B-Tech IT</p>
      <p class="inst">IIIT Vadodara</p>
      <p>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i> </a>
      </p>
      <p><button>Contact</button></p>
    </div>
  </div>
</div>

{% comment %} -------------------- {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

{% endblock body %}