{% extends "user/base.html" %}

<!--title-->
{% block title %}Login{% endblock %}

<!--body-->
{% block body %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url(../../static/three.jpg) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .headered {
        color: white;
        background-color: #ff8d1e;
        text-shadow: 1px 1px grey;
        height: 50px;
        width: 35%;
        text-align: center;
        border-radius: 7px;
        margin: 50px 0;
        font-size: 30px;
        padding-top: 10px;
    }

    .btn1 {
        height: 50px;
        font-size: 20px;
        width: 250px;
        color: white;
        border-radius: 7px;
        margin: 10px;
        padding: 0 15px;
    }

    .inlogin {
        margin-top: 10px;
    }

    .form-control {
        width: 30%;
        margin: 25px;
        padding: 10px;
        height: 50px;
        font-size: 25px;
        border-radius: 7px;
        border-style: solid;
        border-width: 2px 2px;
        border-color: #353230;
        text-align: center;
    }

    .txt {
        font-size: 20px;
        padding-top: 10px;
    }
</style>

<center>
    <h1 class="headered">SignIN</h1>

    <form action="" method="POST">

        {% csrf_token %}
        <div class="login">

            <input type="text" class="form-control" name="username" value="" id="floatingInput" placeholder="Username"
                required>


            <input type="password" class="form-control" name="password" value="" id="floatingPassword"
                placeholder="Password" required>


            <button type="submit" class="btn1 btn-outline-success" value="">Login</button>
        </div>

    </form>

    <a href="{% url 'reset_password' %}"><button type="submit" class="btn1 btn-outline-danger" value="">Forgot
            Password</button></a><br />
    <a href="{% url 'register_user' %}"><button type="submit" class="btn1 btn-outline-primary"
            style="margin-bottom: 50px;" value="">Create account
            here</button></a> <br>
</center>

</form>
{% endblock %}