{% extends "user/base.html" %}

<!--title-->
{% block title %}Login{% endblock %}

<!--body-->
{% block body %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url(../../static/two.jpg) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .headered {
        color: white;
        background-color: rgb(255, 94, 0);
        width: 40%;
        text-align: center;
        border-radius: 15px;
        margin-top: 50px;
    }

    .btn {
        height: 60px;
        font-size: 30px;
        width: auto;
        color: white;
        border-radius: 15px;
        margin: 10px;
    }

    .login {
        margin-top: 110px;
    }

    .form-control {
        width: 30%;
        margin: 20px;
        padding: 10px;
        height: 70px;
        font-size: 40px;
        border-radius: 15px;
        border-style: solid;
        border-width: 3px 3px;
        border-color: green;
    }

    .txt {
        font-size: 30px;
        padding-top: 10px;
    }
</style>

<center>
    <h1 class="headered">SignIN</h1>

    <form action="" method="POST">

        {% csrf_token %}
        <div class="login">

            <input type="text" class="form-control" name="username" value="" id="floatingInput" placeholder="Username">


            <input type="password" class="form-control" name="password" value="" id="floatingPassword"
                placeholder="Password">


            <button type="submit" class="btn btn-outline-success" value="">Login</button>
        </div>

    </form>

    <a href="{% url 'reset_password' %}"><button type="submit" class="btn btn-outline-danger" value="">Forgot
            Password</button></a><br />
    <a href="{% url 'register_user' %}"><button type="submit" class="btn btn-outline-primary" value="">Create account
            here</button></a> <br>
</center>

</form>
{% endblock %}