{% extends 'user/base.html' %}
<!--title-->
{% block title %}Profile{% endblock title %}
<!--body-->
{% block body %}

<!--profile-->

<div class="card-container">
  {% comment %} <span class="pro">PRO</span> {% endcomment %}
  <img class="round" src="../../static/user2.jpeg" alt="user" />
  <h3>{{request.user}}</h3>
  <h6>{{request.user}}</h6>
  <p>
    BRS USER<br />
    {{request.user.email}}
  </p>
  <div class="buttons">
    <a
      class="buttonP"
      onmouseover="this.style.color='white'"
      onmouseout="this.style.color='#231e39'"
      href="{% url 'take_bike' %}"
      style="text-decoration: none"
      >View Bikes</a
    >
    <a
      class="buttonP"
      onmouseover="this.style.color='white'"
      onmouseout="this.style.color='#231e39'"
      href="{% url 'return_bike' %}"
      style="text-decoration: none"
      >Return Bikes</a
    >
  </div>
  <div class="skills">
    {% comment %}
    <h6>Skills</h6>
    <ul>
      <li>UI / UX</li>
      <li>Front End Development</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node</li>
    </ul>
    {% endcomment %}
  </div>
</div>

<!--styles-->
<style>
  @import url("https://fonts.googleapis.com/css?family=Montserrat");

  * {
    box-sizing: border-box;
  }
  body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../../static/three.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  h3 {
    margin: 10px 0;
  }

  h6 {
    margin: 5px 0;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 10px;
  }
  .center {
    align: center;
    width: auto;
  }

  .card-container {
    background-color: #231e39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    padding-top: 30px;
    position: relative;
    width: 450px;
    max-width: 100%;
    text-align: center;
    margin-left: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  {% comment %} .card-container .pro {
    color: #231e39;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
  } {% endcomment %}

  .card-container .round {
    border: 1px solid #03bfcb;
    border-radius: 50%;
    padding: 7px;
  }

  .buttonP {
    margin-top: 10px;
    background-color: #03bfcb;
    border: 1px solid #03bfcb;
    border-radius: 3px;
    color: #231e39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
  }

  buttonX {
    background-color: transparent;
    color: #02899c;
  }

  .skills {
    background-color: #1f1a36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
  }

  .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .skills ul li {
    border: 1px solid #2d2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
  }
</style>

{% endblock body %}
