{% extends "user/base.html" %}
{% block title %}Register{% endblock %}
{% block body %}

<style>
    body {
        margin: 0;
        padding: 0;
        background: url(../../static/two.jpg) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .headered {
        color: white;
        background-color: rgb(255, 94, 0);
        width: 40%;
        text-align: center;
        border-radius: 15px;
        margin-top: 50px;
    }

    .btn {
        height: 60px;
        font-size: 30px;
        width: auto;
        color: white;
        border-radius: 15px;
        margin: 10px;
    }

    .inlogin {
        margin-top: 10px;
    }

    .form-control {
        width: 30%;
        margin: 20px;
        padding: 10px;
        height: 60px;
        font-size: 40px;
        border-radius: 15px;
        border-style: solid;
        border-width: 3px 3px;
        border-color: green;
        text-align: center;
    }
</style>

<center>
    <h1 class="headered">SignUP</h1>

    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="login">
            <div class="inlogin">

                <input type="text" name="username" class="form-control" class="lab2" maxlength="150" required
                    id="id_username" placeholder="username">

                <input type="text" name="first_name" class="form-control" class="lab2" maxlength="150"
                    id="id_first_name" placeholder="First Name">

                <input type="text" name="last_name" class="form-control" class="lab2" maxlength="150" id="id_last_name"
                    placeholder="Last Name">

                <input type="email" name="email" class="form-control" class="lab2" maxlength="254" id="id_email"
                    placeholder="Email">

                <input type="password" name="password" class="form-control" class="lab2" required id="id_password"
                    placeholder="Password">

                <input type="text" name="mobile_number" class="form-control" class="lab2" maxlength="12" required
                    id="id_mobile_number" placeholder="Mobile Number">

                <input type="text" name="proof_of_user" class="form-control" class="lab2" maxlength="20" required
                    id="id_proof_of_user" placeholder="Proof Of User">
            </div>

            <button type="submit" class="btn btn-outline-success vip" value="Register">SignUP</button>

        </div>

    </form>

    <a href="{% url 'login_user' %}"><button type="submit" class="btn btn-outline-primary" value="">SignIN
            here</button></a><br />
    <a href="{% url 'reset_password' %}"><button type="submit" class="btn btn-outline-danger" value="">Forgot
            Password</button></a><br />
</center>
{% endblock %}